
.settingsInputContainer { 
    color:rgba(81,81,81,.9);
    font-size:80%;
    margin:0;
    padding:3px 25px 2px 25px;
}

.settingInfo {
    padding-top:15px;
    float:left;
}

.settingInfoUrl {
    color:rgba(81,81,81,.9);
    font-weight: 500;
}

.settingHeadline {
    border-bottom: 1px solid rgba(81,81,81,.2);
    color: rgba(81,81,81,.8);
    font-size:70%;
    margin-bottom:10px;
}

.settingsNotice {
    color:#d9534f;
    font-size: 95%;
    margin-left:20px;
}
