
.time {
    text-align : right;
    font-family: defaultRightColumn;
    font-size  : 92px;
    color      : whitesmoke;
}

.date {
    color      : whitesmoke;
    font-size: 18px;
    padding:10px;
    border-radius: 3px;
    min-width: 0px;
    font-weight: bold;
    letter-spacing: .9px;
}